@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
  margin: 0%;
  padding: 0%;
  font-family: 'Pacifico';
  background-color: rgb(0, 0, 0);
}
.container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.headercontroler{
  position: relative;
  background-color: #000;
  height: 105px;
  width: 100%;
}

.header {
    position: fixed;
    top: 0px;
    background-color: #000;
    width: 100%;
    border-bottom: 3px solid #ffffff;
    z-index: 1;
  }

.header .container {
    justify-content: space-between;
  }

.header a {
  text-decoration: none;
  color: #e3b062;
  
}
.select{
  font-weight: bold;
  font-size: 140%;
}


ul li:hover{
  font-weight: bold;
  font-size:140%;
}


.navbar {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}


.titulo {
  color: #e3b062;
  width: fit-content;
  font-weight: 500;
}

/* BANNER */

.banner {
  height: max-content;
  padding: 40px ;
  background-image: url(".././assets/imgs/background.jpg");
  background-size: 100%;
  z-index: 0;
    
}

.banner .container {
  height: 375px;
  color: #ffffff;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  text-shadow: 0.1em 0.1em 0.05em #333;
}
.degrade{
  position: absolute;
  top: 500px;
  width: 100%;
  height: 2em;
  background-image: linear-gradient(180deg, #000 0%, #000 100%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 100%);
  background-color: #000;
  /* background-image: linear-gradient(180deg,white 0%,black 100%); */
}
.conteudohistoria{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: bisque;
}
.conteudohistoria h1{
  margin: 2%;
  padding: 0px;
  color: aliceblue;

}
.historia{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
  text-align: center;
  font-size: 25px;
}
.his{
  margin-bottom: 50px;
}
.tamanho-conteudo { 
  height: fit-content !important;
}

.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 36px;
}

.banner .container span {
  font-weight: bold;
  font-size: 110%;
}
/* DIV CONTEUDO */
.contexto{
  display:flex; 
  flex-direction: row ;
  justify-content: space-between;
  align-items: center;
}
/* Div Cards */
.contexto .card{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 5%;
}
.contexto .card .imago img{
  width: 120px;
}
/* Rodapé da página */
.rodape{
  border-top: 3px solid #ffffff;
  position: relative;
  bottom: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  
}
.copi{
  color: #ffffff;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.rodape .conteudo{

  display: flex;
  flex-direction: row;
  color: #ffffff;
  margin-right: 35%;
  margin-left: 35%;
}
.rodape .conteudo ul2 {
  
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;  
  color: #e3b062;

}

.rodape .conteudo ul2 li2{
  padding-left: 10%;
  padding-right: 10%;
}

.rodape .conteudo ul2 li2 img{
  width: 45px;}
/* Fim de rodapé */

/* Páginas consequentes